node_modules
dist
.env
.env.*
.DS_Store
.vscode
*.wav
.env.local
.dev.vars
.wrangler/
*.lnk

# Hardhat contract build artifacts
cache/
artifacts/
.hardhat-build/
typechain-types/
types/ethers-contracts/
